<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.unique.Unique"/>
    <class name="com.management.Login"/>
    <class name="com.management.Registration2"> 
    </class>
    <class name="com.management.Locators">
    </class>
    <class name="com.management.FileUploadtest">
</class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
